mainmenu "LambdaSoC BIOS Configuration"

source src/arch/Kconfig

source src/drivers/Kconfig

menu "Memory regions"

config BOOTROM_BASE
	hex "Boot ROM base address"

config BOOTROM_LIMIT
	hex "Boot ROM limit address"

config SCRATCHPAD_BASE
	hex "Scratchpad base address"

config SCRATCHPAD_LIMIT
	hex "Scratchpad limit address"

config UART_BASE
	hex "UART base address"

config UART_LIMIT
	hex "UART limit address"

config TIMER_BASE
	hex "Timer base address"

config TIMER_LIMIT
	hex "Timer limit address"

if SOC_WITH_SDRAM

config SDRAM_BASE
	hex "SDRAM base address"

config SDRAM_LIMIT
	hex "SDRAM limit address"

endif # SOC_WITH_SDRAM

if SOC_WITH_SRAM

config SRAM_BASE
	hex "SRAM base address"

config SRAM_LIMIT
	hex "SRAM limit address"

endif # SOC_WITH_SRAM

if SOC_WITH_ETHMAC

config ETHMAC_BASE
	hex "Ethernet MAC base address"

config ETHMAC_LIMIT
	hex "Ethernet MAC limit address"

endif # SOC_WITH_ETHMAC

endmenu

menu "SoC"

config SOC_CLOCK_FREQ
	int "System clock frequency (in Hz)"

config SOC_CSR_DATA_WIDTH
	int "Control/Status register data width (in bits)"
	default 32

config SOC_WITH_SDRAM
	bool "Enable SDRAM support"

config SOC_WITH_SRAM
	bool "Enable SRAM support"

config SOC_WITH_ETHMAC
	bool "Enable Ethernet MAC support"

endmenu
